<div class="PageHeader">
    <div class="HeaderText">
        <a href="/">Welcome to my MVC site</a>
    </div>
    <ul class="TopNavigation">
        <li *ngFor="let navItem of navItemList">
            <a *ngIf="navItem.url" href="{{ navItem.url }}">{{ navItem.text }}</a>
            <div *ngIf="!navItem.url">{{ navItem.text }}</div>
            <ul *ngIf="navItem.subItems" class="SubNavigation">
                <li *ngFor="let navSubItem of navItem.subItems">
                    <a *ngIf="navSubItem.url" href="{{ navSubItem.url }}">{{ navSubItem.text }}</a>
                    <div *ngIf="!navSubItem.url">{{ navSubItem.text }}</div>
                </li>
            </ul>
        </li>
        <!--<li><a href="/">Home</a></li>
        <li>
            <div>Cooking</div>
            <ul class="SubNavigation">
                <li><a href="/Recipes/Search">Recipe List</a></li>
            </ul>
        </li>
        <li><a href="/About">About</a></li>
        <li><a href="/Home/Contact">Contact</a></li>
        <li><a href="/Login">Login</a></li>-->
    </ul>
</div>
